<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Orator</string>
	<key>CFBundleExecutable</key>
	<string>Orator</string>
	<key>CFBundleIconFile</key>
	<string>Orator</string>
	<key>CFBundleIdentifier</key>
	<string>com.myronkoch.orator</string>
	<key>CFBundleName</key>
	<string>Orator</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Myron Koch. Open source, MIT licensed.</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Speak with Orator</string>
			</dict>
			<key>NSMessage</key>
			<string>speakWithOrator</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Add to Orator Queue</string>
			</dict>
			<key>NSMessage</key>
			<string>addToOratorQueue</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
